.calculator {
    max-width: 300px;
    width: 100%;
}

.keypad-sq {
    width: 50px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}